ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;


}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0%;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    margin-bottom: 0;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px ) {
    .container {
        max-width: 768px;
            }
            .nav-list {
                display: none;
            }
    }


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
 
/* < !--====TABLET HEADER MENU=======--> */
/* ========HEADER======= */

.hero-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-fore-header {
    display: flex;
    align-items: center;

}

.nav-list,
.nav-adress {
    display: none;
}

.logo-logo {
    display: block;
    padding: 16px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
     }

 .header-logo {
     color: #2e2f42;
     }

 .page-navigator {
    margin-right: auto;
 }

 .button-mobile-burger {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
 }

 .burger-phone {
    fill: #2f2f37;
 }
 @media screen and (min-width:320px) {
    .mobail-menu {
            display: none;
        }
 }

@media screen and (min-width:768px) {
    .mobail-menu {
        display: none;
    }
.button-mobile-burger {
        display: none;
    }
.nav-list {
    display: flex;
    gap: 40px;
}

.nav-adress {
    display: block;
    font-style: normal;
    
}

.logo-logo {
    padding: 24px 0;
    margin-right: 120px;
}
 .page-navigator {
      display: flex;
      align-items: center;

     }

 .menu-link {
    
      font-weight: 500;
      font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
      color: #2e2f42;
      padding-top: 24px;
      padding-bottom: 24px;
      box-sizing: border-box;
      position: relative;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }

.studio-link {
    position: relative;
    color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;}

.studio-link::after {
    content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        
}

.nav-list-one {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-adress-one {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
}
}

.hero-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-fore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-adress{
    margin-top: 48px;
}

.team-svg {
    fill: #f4f4fd;
}
.link-svg {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    display: list-item;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-images {
    display: flex;
    margin-top: 48px;
}

.svg-team {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* < !--====DECKTOP HEADER MENU=======--> */

@media screen and (min-width: 1158px) {

.logo-logo {
            margin-right: 76px;
        }
 .nav-list-one {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-list-one {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}