ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;


}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0%;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1158px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px ) {
    .container {
        max-width: 768px;
            }
            .nav-list {
                display: none;
            }
    }


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
 
/* < !--====TABLET HEADER MENU=======--> */
/* ========HEADER======= */

.hero-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-fore-header {
    display: flex;
    align-items: center;

}

.nav-list,
.nav-adress {
    display: none;
}

.logo-logo {
    display: inline-block;
    padding: 16px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
     }

 .header-logo {
     color: #2e2f42;
     }

 .page-navigator {
    margin-right: auto;
 }

 .button-mobile-burger {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .burger-phone {
    fill: #2f2f37;
 }


@media screen and (min-width:768px) {
    .mobail-menu {
        display: none;
    }
.button-mobile-burger {
        display: none;
    }
.nav-list {
    display: flex;
    gap: 40px;
}

.nav-adress {
    display: block;
    font-style: normal;
    
}

.logo-logo {
    padding: 24px 0;
    margin-right: 120px;
}
 .page-navigator {
      display: flex;
      align-items: center;

     }

 .menu-link {
    
      font-weight: 500;
      font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
      color: #2e2f42;
      padding-top: 24px;
      padding-bottom: 24px;
      box-sizing: border-box;
      position: relative;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }

.studio-link {
    position: relative;
    color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;}

.studio-link::after {
    content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        
}

.nav-list-one {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-adress-one {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
}
}


.page-fore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-adress{
    margin-top: 48px;
}

.team-svg {
    fill: #f4f4fd;
}
.link-svg {
    width: 40px;
    height: 40px;
    display: list-item;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.svg-team {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* < !--====DECKTOP HEADER MENU=======--> */

@media screen and (min-width: 1158px) {

.logo-logo {
            margin-right: 76px;
        }

 .nav-list-one {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-list-one {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

/* =====HERO SECTION MOBAIL */
.section-pagins {
    display: block;
    unicode-bidi: isolate;
    
}
.hero-class {
    max-width: 1440px;
    margin: auto;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-taitle {
    margin: 0 auto 48px auto;
    margin-bottom: 48px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.tape-button:hover,
.tape-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;


}

.tape-button {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-resolution: 192dpi) and (min-width:320px) {
    .hero-class {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg@2x.jpg);
    }
    .main-taitle {
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
            max-width: 216px;
            margin: 0 auto 72px auto;
    }
        
}


@media screen and (min-width:768px) {
    .hero-class{
        padding: 112px 0;
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet.jpg);
    }
        .main-taitle {
         max-width: 496px;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
            margin: 0 auto 36px auto;
        }
}

@media screen and (min-width:1158px) {
    .hero-class {
            padding: 112px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-leptop.jpg);
        }
        .main-taitle {
                margin: 0 auto 48px auto;
                font-size: 56px;
              
        }
}


/* =========BENEFITS======== */

.title-class {
    display: flex;
    gap: 24px;

}

.title-benefits {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.all-benefits {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.benefits-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.title-container {
    width: calc((100% - 72px) / 4);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}
.benefits-class {
    padding: 120px 0 120px;
}

@media screen and (min-resolution: 192dpi) and (min-width:320px) 
{ .benefits-div {
    display: none;
}

.benefits-class {
    padding: 96px 0;
}
.title-container {
    margin-bottom: 72px;
    width: 100%;
}

.title-class {
    display: block;
}

.all-benefits {
    font-weight: 500;
 }

    .title-benefits {
        text-align: center;
        max-width: 288px;
        font-size: 36px;
    }
}


@media screen and (min-width:768px) {
    .benefits-div{
        display: none;
    }

    .title-class {
        display: flex;
    }
    .container {
        max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .benefits-class {
        padding: 96px 0;
    }

    .title-class {
        flex-direction: row;
        flex-wrap: wrap;
         gap: 72px 24px;
    }
    .title-container {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width:1158px) {
    
    .title-container{
        width: calc((100% - 72px) / 4);
    }
        .benefits-div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background-color: #f4f4fd;
            border-radius: 4px;
            border: 1px solid #8e8f99;
            margin-bottom: 8px;
        }
    
}


/* < !--=========TEAM==========--> */
.section-team {
    background-color: #f4f4fd;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    box-sizing: border-box;
    
}

.svg-team:hover,
.svg-team:focus {
    background-color: #404bbf;
}

.team-our {
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
    
    overflow: hidden;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;

}



.about-team {
    margin-bottom: 8px;
    color: #434455;
}

.team-images {
    display: flex;
    justify-content: center;
    gap: 24px;
   
}

.expert-team {
    text-align: center;
    padding: 32px 0px;
}

.link-svg {
    width: 40px;
    height: 40px;
    display: list-item;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-resolution: 192dpi)and (min-width:320px) {
    .svg-team {
            display: flex;
            width: 40px;
            height: 40px;
            background-color: #4d5ae5;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
}


@media screen and (min-width: 768px) {
    .team {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        display: flex;
        justify-content: center;
        width: calc(100% - 24px);
        margin: 0 auto;
    }

    .section-team {
        padding-top: 96px;
    }
}

@media screen and (min-width:1158px) {
    .section-team {
       padding-top: 120px 0;
    }

    .team {
        flex-wrap:nowrap;
    }
}


/* < !--======OUR PORTFOLIO======--> */

.portfolio-container {
    width: 100%;
    padding: 96px 15px;
    margin: 0 auto;
}

.title-team-portfolio {
    text-align: center;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.paragraf-our {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-new {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    gap: 48px;
    justify-content: center;
    flex-direction: column;
}

.ovner-portfolio {
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 320px) {
    .expert-portfolio{
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;

    }

        .paragraf-our {
            width: 288px;
            height: 280px;
        }
    
        
}

@media screen and (min-width:768px) {

    .portfolio-list {
        flex-direction: row;
         gap: 72px 24px;
            
    }

    .our-new-portfolio {
        width: calc((100% - 24px) / 2);
    }

    .paragraf-our {
        width: 356px;
        height: 300px;
    }
}

@media screen and (min-width:1158px) {
    .portfolio-list{
    flex-direction: row;
    gap: 48px 24px;
    cursor: pointer;
}

.section-portfolio {
        padding: 120px 0;
}

.paragraf-our {
    width: 360px;
    height: 300px;
}

.our-new-portfolio {
    width: calc((100% - 48px) / 3);
}

.ovner-portfolio {
    position: relative;
    overflow: hidden;
}
.expert-portfolio {
    margin-bottom: 0;
}
}



/* ======FOOTER======= */
.footer-nav {
    background-color: #2E2F42;
    padding: 96px 0;
}

.paragraf-footer {
    text-align: center;
    justify-content: center;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: inline-block;

}

.in-logo-class {
    width: 288px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
}

.footer-name {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 16px;

}

.footer-images {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 72px;
    text-align: center;

}

.form-footer {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.link-svg-footer {
    display: flex;
    gap: 16px;
    width: 40px;
    height: 40px;
    display: list-item;

}

.svg-footer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link {
    display: block;
    unicode-bidi: isolate;
}

.link-for-social {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 16px;
}

.email-input-footer {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    color: #ffffff;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
}

.anketa-footer-buttom {
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
   
    height: 40px;
    border: none;
    color: #fff;
    background: #4d5ae5;
}

.anketa-footer-buttom:hover,
.anketa-footer-buttom:focus {
    background: #404bbf;
}

@media screen and (min-width:768px) {
    .footer-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        text-align: left;
        padding-left: 108px;
    }

    .form-footer {
        flex-direction: row;
        gap:24px;
        
    }
}

@media screen and (min-width: 1158px) {
    .in-logo-class {
        text-align: left;
        width: 264px;
    }

    .footer-section {
        padding-left:  0;
        gap: 0;
    }
    .paragraf-footer {
        text-align: left;
        margin-right: 120px;
    }

    .footer-new-footer {
       width: 208px;
       height: 80px;
       margin-right: 80px;
    }
}

/* ===========BACKGROUND STYLE======== */

.model  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    border: none;
    background-color: #404bbf;

    fill: #ffffff;
}

.modal-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
    stroke: #fff;
}

 .background-new.is-open {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
 }
 
.background-new {
position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    width: 24px;
    height: 24px;
    right: 24px;
    padding: 0%;
    border: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
    border-radius: 50%;
}

.review-form-descrip {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.review-form-input:focus+.review-icon {
    fill: #4d5ae5;
}

.review-form-field-text:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.close-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.review-form-input {
    width: 100%;
    height: 40px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
} 

.review-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.review-form-field-checkbox-wraper:checked+.review-form-field-checkbox-label .checkbox-click {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.review-form-field-checkbox-wraper:focus+.review-form-field-checkbox-label .checkbox-click {
    outline: 2px solid rgb(0, 0, 255, 0.5);
}

.review-icon-wraper {
    position: relative;
}

.review-form-field-wraper {
    margin-bottom: 8px;
}

.review-form-field-wraper-one {
    margin-bottom: 16px;
}

.review-form-field-checkbox {
    margin-bottom: 24px;
}

.review-form-field-text {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    resize: none;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.checkbox-click {
    display: inline-flex;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    fill: transparent;
    align-items: center;
    margin-right: 8px;
}

.review-form-field-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-polici-link {
    font-size: 12px;
     line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.send-anket {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    color: #fff;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4d5ae5;
}
.send-anket:hover,
.send-anket:focus {
    background: #404bbf;
}

@media screen and (min-width: 768px) {
    .model {
        width: 408px;
        min-height: 584px;
        border-radius: 4px;
    }


}

/* ====MOBAIL MENU===== */

   .mobail-menu.is-open {
    transform: translateX(0%);
   } 

.mobail-menu {
        display: flex;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        color: #2e2f42;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 16px 40px;
        overflow-y: auto;
        transform: translate(100%);
    }
        .menu-list-item {
            flex-direction: column;
        }
 .mobail-menu-nav {
    margin-bottom: 168px;
 }

    .mobail-menu-close-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
        padding: 0;
        width: 24px;
        height: 24px;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #2e2f42;
        border-radius: 50%;
    }

  

    .not-scroll-header {
        overflow-y: hidden;
    }

 

    .menu-list-item {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .studio-visual.first {
        color: #404bbf;
    }

    .studio-visual {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    

@media screen and (min-width:320px) {
    .container {
        margine: 0;
    }
}